<form class="jumbotron">
    <h1 style="text-align:center"><b>Welcome to Priceline</b></h1><br>

    <div class="container">
    <div class="input">
        <label>Username</label>
        <input type="text" name="username"ng-model="username" >
    </div>
    <div class="input">
        <label>PASSWORD</label>
        <input type="password" name="password" ng-model="password" >
    </div>
    <div class="input">
        <button type="submit" class="btn-btn-primary" (click)="logIn()">Log In</button>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
</form>

