<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>


<body>
    <br>
    <div class="container" style="height:40.75rem">
        <h1 style="text-align:center">CATEGORIES</h1>
        <br>
        <div class="cards cat" style="padding-left: 5rem;">
            <div class="cards wrapper">
                <img class="card-img-bottom" src="../../assets/Ambulance.jpg" routerLink="/ambulance" alt="Card image"><br>
                <div class="card-body">
                    <p class="card-text" style="color: whitesmoke; font-size:large"><b>AMBULANCE</b>
                    </p>
                </div>
            </div>
            <div class="cards wrapper" >
                <img class="card-img-bottom" src="../../assets/bus.jpg" routerLink="/largecars" alt="Card image"><br>
                <div class="card-body">
                    <p class="card-text" style="color: whitesmoke; font-size:large"><b>LARGE VEHICLES AND BUSES</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="cards cat" style="padding-left: 5rem;">
            <div class="cards wrapper">
                <img class="card-img-bottom" src="../../assets/mid-size.jpg" routerLink="/midcars" alt="Card image"><br>
                <div class="card-body">
                    <p class="card-text" style="color: whitesmoke; font-size:large"><b>MID-SIZE AND SMALL CARS</b>
                    </p>
                </div>
            </div>
            <div class="cards wrapper ">
                <img class="card-img-bottom" src="../../assets/sports.jpg" routerLink="/smallcars" alt="Card image"><br>
                <div class="card-body">
                    <p class="card-text" style="color: whitesmoke; font-size:large"><b>SPORTS CAR</b>
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</body>

</html>