<div class="hero-image">
    <div class="profile-card-4 text-center">
        <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-4.jpg" class="img img-responsive">
        <div class="profile-content">
            <div class="profile-name">John Doe
                <p>@johndoedesigner</p>
            </div>
            <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
            <a href="#" class="btn btn-primary">Update Profile</a><br><br>
            <div class="row">
                <div class="icon-block text-center"><a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>