
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">VOLKS WAGEN GOLF</h3>
                <p class="card-text">PRICE $33</p>
                <img src="assets/images/car1.jpg" style="width: 272px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA AUXIO</h3>
                <p class="card-text">PRICE $40 </p>
                <img src="assets/images/car2.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA MACK X</h3>
                <p class="card-text">PRICE $20</p>
                <img src="assets/images/car3.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA ALPHARD</h3>
                <p class="card-text">PRICE $45</p>
                <img src="assets/images/car4.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">MERCEDECE GL8</h3>
                <p class="card-text">PRICE $48</p>
                <img src="assets/images/car5.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA SUNNY</h3>
                <p class="card-text">PRICE $43</p>
                <img src="assets/images/car6.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA HAICE</h3>
                <p class="card-text">PRICE $38 </p>
                <img src="assets/images/car7.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA RAV4</h3>
                <p class="card-text">PRICE $33</p>
                <img src="assets/images/car8.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA PRADO TX</h3>
                <p class="card-text">PRICE $70</p>
                <img src="assets/images/car9.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA HAICE</h3>
                <p class="card-text">PRICE $41</p>
                <img src="assets/images/car10.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA RAV4</h3>
                <p class="card-text">PRICE $50</p>
                <img src="assets/images/car11.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <h3 class="card-title">TOYOTA V8</h3>
                <p class="card-text">PRICE $55</p>
                <img src="assets/images/car12.jpg" style="width: 260px; height: 250px;">
                <div class="text-center">
                    <small><button>buy</button></small>
                </div>
            </div>
        </div>
    </div>
</div>
