<h3>Register if you have no account in this site</h3>
<form (ngSubmit)='createUser()'>
    <div class="container">
    <div class="form-group">
        <div class="input">
            <label>Email </label>
            <input type="email" name="Email"ng-model="Email" placeholder="Kindly input your official email address">
        </div>
    </div>
    <div class="form-group">
        <div class="input">
            <label> Names </label>
            <input type="text" name="name"ng-model="name" placeholder="Kindly input your official names" >
        </div>

    </div>
    <div class="form-group">
        <div class="input">
            <label>Telephone number </label>
            <input type="tel" name="number"ng-model="number" placeholder="Kindly input your number">
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
    <br><br><br><br><br>
    <br><br><br><br><br><br><br>
</div>
</form>
