<div class="container-fluid di"><br><br><br><br>
    <h2 style="text-align:center">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="width:15rem; margin-left:45%; padding-bottom: 7.15%;">
        <div class="form-group">
            <label for="username"style="font-size:1.5rem">Username</label>
            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required"style="font-size:1.5rem">Username is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email"style="font-size:1.5rem">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required"style="font-size:1.5rem">Email is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password1" style="font-size:1.5rem">Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password2"style="font-size:1.5rem">Confirm Password</label>
            <input type="password" formControlName="password2" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
            <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                <div *ngIf="f.password2.errors.required"style="font-size:1.5rem">Password is required</div>
                <div *ngIf="f.password2.errors.minlength"style="font-size:1.5rem">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"style="font-size:1.5rem">
                Register
            </button>
        </div>
        <div style="font-size:1.5rem">
            <small >
                <b>Already have an account? </b> <a routerLink="/login" style="color: black; height:1.5rem;background-color: white;">Sign In</a>
            </small>
        </div>
    </form>
    
</div>